

/*=====================================================
                    Fonts
====================================================*/

@font-face {
    font-family: Sophisto-B;
    src: url('../fonts/sophisto-b-webfont.eot');
    src: url('../fonts/sophisto-b-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sophisto-b-webfont.woff') format('woff'), url('../fonts/sophisto-b-webfont.ttf') format('truetype'), url('../fonts/sophisto-b-webfont.svg#sophisto_bregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {*/
/*font-family: Sophisto-D;*/
/*src: url("font/Sophisto-D.otf") format("opentype");*/
/*}*/
@font-face {
    font-family: Sophisto-D;
    src: url('../fonts/sophisto-d-webfont.eot');
    src: url('../fonts/sophisto-d-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sophisto-d-webfont.woff') format('woff'), url('../fonts/sophisto-d-webfont.ttf') format('truetype'), url('../fonts/sophisto-d-webfont.svg#sophisto_dregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*=====================================================
            Reset simple
====================================================*/
html, body {
    margin: 0 auto;
    padding: 0;
    /*width: 1024px;*/
    font-family: "Sophisto-B", sans-serif;
    position: relative;
    /*background-color: white;*/
    /*    text-align: center;*/}


h1, h2, h3 {
    font-family: "Sophisto-B", sans-serif;
}


h1 {
    font-size: 21px;
    line-height: 87%;
    margin: 42px 0 26px 0;
    padding: 9px;
    background-color: #000;
    text-transform: uppercase;
    display: inline-block;
}

h2 {
    /*font-weight: 400;*/
    font-size: 20px;
    line-height: 130%;
    padding: 3px 0;
    margin: 20px 0 5px 0;
}

h3 { font-size: 17px; }

h4 { font-size: 13px; }

h5 {    font-size: 11px;}

h6 {    font-size: 8px;    }

h1 {
    color: #fc0;
}
h2, h3, h4 {color:white;}
h4 {font-weight: bold;}
h5, h6 {        color: #369;    }
h3, h4, h5, h6 {
    padding-top: 10px;
    margin: 5px 0 0 0;
    line-height: 16px;
}


hr {
    border: 0;
    height: 1px;
    background-color: #cccccc;
}


.btn i.fa-upload:after{content:"Upload"; font-family: "Sophisto-B", sans-serif;padding: 0 5px;}
.btn i.fa-download:after{content:"Download";font-family: "Sophisto-B", sans-serif;padding: 0 5px;}
.btn i.fa-remove:after{content:"Remove";font-family: "Sophisto-B", sans-serif; padding: 0 5px;}
.btn i.fa-edit:after{content:"Edit";font-family: "Sophisto-B", sans-serif; padding: 0 5px;}


.event .btn,
.event input,
.event select,
.event span,
.details .btn {margin:10px 0; }

.event i.fa.fa-remove,
.event i.fa.fa-pencil  {
    font-size: 2.5em;
    margin: 0 8px;}

.event i.fa.fa-remove {color: #ccc;}
.event i.fa.fa-pencil {color:yellow; font-size:2em;}

.event .btn [class*="fa-"] {width:120px;}
.details .btn { font-size: 1.5em; }

.partner {background:white; width: 100%; margin:0;padding:0; clear:left;}
.partner img {box-shadow:  0px 0 8px rgba(0,0,0,0.1);}
.partner img:hover {fill}
.home img {width: 100%;}
.partner li{ float: left; list-style: none; }
.visitor  img,
.partner li {width: 11.11%;}



.partner li {
    position: relative;
    float: left;
    cursor: pointer;
}

.partner li:hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,204,0, 0.75);

}

.partner li:before {
    background: none;
}

.partner li:hover:before,
.partner li:before {
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}

/*=====================================================
              Login
====================================================*/

.modal-content .container {width: auto;}
.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.panel-heading {background: black!important; border-bottom: none; padding-top: 20px;}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.pullquote {
    padding: 3em 5em;
    background: #eee;
    margin: 2em 8em;
    border: 5px solid white;

    /*background: #eee url('../img/doc.svg') 75% 30% no-repeat;*/
}
.pullquote .img_bck  {
    opacity: 0.2;
    position: absolute;
    overflow: hidden;
    right: 50px;
    bottom:50px;
    background-size:256px ;
    background-image: url('../img/doc.svg') ;
    transform: rotate(-20deg) scale(0.5);
}

.link li {font-size: 1.5em; list-style: none;}

/*=====================================================
                Logo/body/custom
====================================================*/

body { background-color: #333;}

.logo-wrapper img {
    width:100%;
}
.bck .container {
    background: #1a1b1c; color:#eee;
}


h1.title, h1.subtitle {display: block;}
.details {
    border: 2px solid;
    border-color: #fc0;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
}
#map_canvas, .sidebar  {
    min-height: 600px;
}
.pad {margin:20px 0;}

.title {
    font-size: 2.5em;
    color: white;
}
.subtitle {
    font-size: 2em;
}
.subtitle, .title {
    text-align: center;
    margin: 0px;
    /*margin-top: 15px;*/
}
.eventlist {
    background: black;
    padding:10px;
}
.eventlist h3 {text-align: center;padding-bottom: 5px;}
/*.eventlist li {margin:10px;}*/
.eventlist li input:last-child {margin-left: 50%;}

.pagination { margin-left: 20px; }
.form-group .btn {    margin: 20px;    width: 85%; }
.table > tbody > tr > td {border-top:none;}
.table > tbody > tr {background: #222;}
.table > tbody > tr:nth-child(2n+1) {background: #111;}


.event .project-icon img,
td label,
td label i,
.event td .btn,
.event td a,
.event td i {
    float: left;
    line-height:0.8em; margin:0;
    vertical-align:middle;
}

.event .wave td:last-child,
.event .wave td:nth-child(4) { min-width:130px;}

.rosa li,
.rosa li label {
    float: left;
    padding:0 10px;
    margin:0;
    line-height:1em;
}
.rosa li input  {margin:0;}
.rosa li img {width:16px; height:16px; margin-left:-6px;}

.modal-body .project-icon img {
    float: left;
    margin: 0;
    max-width: 32px;
}

.modal-content {background:#333; color:white;}
.modal-body img:not[    .loading] { width: 100%;}


/*=====================================================
                        MAPPA
====================================================*/
.labels-map {
    color: black;
    /*font-family: "Lucida Grande", "Arial", sans-serif;*/
    font-size: 1.3em;
    text-align: center;
    width: 52px;
    margin-top: -35px!important;
    white-space: nowrap;
}



/*=====================================================
                        NAV
====================================================*/
.navbar {background-color: #ffcc00; border-radius: 0; padding:0; border-color:white; border-top:2px solid; border-bottom:2px solid;}

.navbar li:first-child {border-left: 2px solid white;}
.navbar li {
    border-right: 2px solid white;
    text-align: center;
    text-transform: uppercase;
    background: #369;
}
.navbar li a {color:white; text-align: center;}





/*=====================================================
                        links
====================================================*/
.links ul {
    list-style-type: none;
}
.links ul > li > a {
    text-decoration:none;
    color:black;
}

.links ul > li {
    display:block;
    max-width:75%;
    background:#ffcc00;
    padding:5px;
    margin:5px 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.links ul > li:hover {

    text-shadow: 0 0 5px white;
    font-size:1.2em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}
/*.desc {position: absolute;}*/
.desc {width: 100%; text-align: center;  background:#ffcc00; color: black;}
.rid {
    font-size: 0.9em;
    line-height: 1em;
    background: black;
    border: 5px solid #ffcc00;
    padding:5px;
}
/*=====================================================
                        footer
====================================================*/
#social:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}
.eu { width:auto; margin:10px; max-height: 80px;}
.footer p {color:white; margin-top: 10px;}
.footer .social {margin-top:20px;}

/* ======================================
            tooltip bootstrap
========================================*/


.tooltip {position: absolute; margin:0;}
.tooltip-inner {background: #ffcc00; font-size: 2em; color:black;}
.tooltip[class*="top"] .tooltip-arrow {    border-top-color: #ffcc00;}

/* ======================================
            tooltip custom
========================================*/

/**
 * HINT- A CSS tooltip library
 */

.hint { position: relative; display: inline-block; }
{display: block;}


.hint:before, .hint:after
{
    position: absolute;
    opacity: 0;
    z-index: 1000000;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    pointer-events: none;
}


.hint:hover:before, .hint:hover:after {
    opacity: 1;
}

.hint:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    position: absolute;
}

.hint:after {
    content: attr(data-hint);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}


/* top */

.hint--top:before {
    bottom: 100%;
    left: 50%;
    margin: 0 0 -18px 0;
    border-top-color: rgba(0, 0, 0, 0.8);
}

.hint--top:after {
    bottom: 100%;
    left: 50%;
    margin: 0 0 -6px -10px;
}

.hint--top:hover:before {
    margin-bottom: -10px;
}

.hint--top:hover:after {
    margin-bottom: 2px;
}


/* ================================
            tooltip custom override
================================*/
.hint:before, .hint:after
{
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    pointer-events: none;
}

.hint:hover:before, .hint:hover:after {    opacity: 0.9; }
.hint:after {
    /*background: rgba(0, 0, 0, 0.8);*/
    background: #ffcc00; font-size: 1.5em; color:black;
    /*color: white;*/
    padding: 8px 10px;
    /*font-size: 12px;*/
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
/* top */
.hint--top:before {border-top-color: rgba(255, 204, 0, 0.8); }






@media (max-width: 768px) {
    .footer p { line-height:1;}
    .event td .btn-info {
        letter-spacing: -0.04em;
        font-size: 0.85em;
        max-width:150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .event .table .media td:first-child {min-width:250px;}
}

.eventPublicListMedia {
    width: 32px;
    height: 32px;
}

.eventPublicListsRow:hover {
    background-color: #444444 !important;
}

.selected-menu-item {
    color: #fc0 !important;
    text-decoration: none;
}

.eventPublicListHeader {
    cursor: pointer;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.eventPublicListHeader:hover {
    color: #fc0;
}

.rowsearch{
    margin-bottom: 10px;
}

@media ( min-width: 768px){
    .search{
        margin-top: 30px;
    }
}