

/*=====================================================
                    Fonts
====================================================*/

@font-face {
    font-family: Sophisto-B;
    src: url('../fonts/sophisto-b-webfont.eot');
    src: url('../fonts/sophisto-b-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sophisto-b-webfont.woff') format('woff'), url('../fonts/sophisto-b-webfont.ttf') format('truetype'), url('../fonts/sophisto-b-webfont.svg#sophisto_bregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {*/
/*font-family: Sophisto-D;*/
/*src: url("font/Sophisto-D.otf") format("opentype");*/
/*}*/
@font-face {
    font-family: Sophisto-D;
    src: url('../fonts/sophisto-d-webfont.eot');
    src: url('../fonts/sophisto-d-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sophisto-d-webfont.woff') format('woff'), url('../fonts/sophisto-d-webfont.ttf') format('truetype'), url('../fonts/sophisto-d-webfont.svg#sophisto_dregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*=====================================================
            Reset simple
====================================================*/
html, body {
    margin: 0 auto;
    padding: 0;
    /*width: 1024px;*/
    font-family: "Sophisto-B", sans-serif;
    position: relative;
    /*background-color: white;*/
    /*    text-align: center;*/}


h1, h2, h3 {
    font-family: "Sophisto-B", sans-serif;
}


h1 {
    font-size: 21px;
    line-height: 87%;
    margin: 42px 0 26px 0;
    padding: 9px;
    background-color: #000;
    text-transform: uppercase;
    display: inline-block;
}

h2 {
    /*font-weight: 400;*/
    font-size: 20px;
    line-height: 130%;
    padding: 3px 0;
    margin: 20px 0 5px 0;
}

h3 { font-size: 17px; }

h4 { font-size: 13px; }

h5 {    font-size: 11px;}

h6 {    font-size: 8px;    }

h1 {
    color: #fc0;
}
h2, h3, h4 {color:white;}
h4 {font-weight: bold;}
h5, h6 {        color: #369;    }
h3, h4, h5, h6 {
    padding-top: 10px;
    margin: 5px 0 0 0;
    line-height: 16px;
}


hr {
    border: 0;
    height: 1px;
    background-color: #cccccc;
}


.btn i.fa-upload:after{content:"Upload"; font-family: "Sophisto-B", sans-serif;padding: 0 5px;}
.btn i.fa-download:after{content:"Download";font-family: "Sophisto-B", sans-serif;padding: 0 5px;}
.btn i.fa-remove:after{content:"Remove";font-family: "Sophisto-B", sans-serif; padding: 0 5px;}
.btn i.fa-edit:after{content:"Edit";font-family: "Sophisto-B", sans-serif; padding: 0 5px;}


.event .btn,
.event input,
.event select,
.event span,
.details .btn {margin:10px 0; }

.event i.fa.fa-remove,
.event i.fa.fa-pencil  {
    font-size: 2.5em;
    margin: 0 8px;}

.event i.fa.fa-remove {color: #ccc;}
.event i.fa.fa-pencil {color:yellow; font-size:2em;}

.event .btn [class*="fa-"] {width:120px;}
.details .btn { font-size: 1.5em; }

/*=====================================================
              Login
====================================================*/

.modal-content .container {width: auto;}
.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.panel-heading {background: black!important; border-bottom: none; padding-top: 20px;}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
/*=====================================================
                Logo/body/custom
====================================================*/

body { background-color: #333;}

.logo-wrapper img {
    width:100%;
}
.bck .container {
    background: #1a1b1c; color:#eee;
}



.details {
    border: 2px solid;
    border-color: #fc0;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
}
#map_canvas, .sidebar  {
    min-height: 600px;
}
.pad {margin:20px 0;}
.title {
    font-size: 2.5em;
    color: white;
    text-align: center;
    margin-top: 0px;



}
.eventlist {
    background: black;
    padding:10px;
}
.eventlist h3 {text-align: center;padding-bottom: 5px;}
/*.eventlist li {margin:10px;}*/
.eventlist li input:last-child {margin-left: 50%;}

.pagination { margin-left: 20px; }
.form-group .btn {    margin: 20px;    width: 85%; }
.table > tbody > tr > td {border-top:none;}
.table > tbody > tr {background: #222;}
.table > tbody > tr:nth-child(2n+1) {background: #111;}


.event .project-icon img,
td label,
td label i,
.event .btn {
    float: left;
    line-height:1em; margin:0;
}


.event .wave td:last-child,
.event .wave td:nth-child(4) { min-width:100px;}

.rosa li,
.rosa li label {
    float: left;
    padding:0 10px;
    margin:0;
    line-height:1em;
}
.rosa li input  {margin:0;}
.rosa li img {width:16px; height:16px; margin-left:-6px;}

/*=====================================================
                        MAPPA
====================================================*/
.labels-map {
    color: black;
    /*font-family: "Lucida Grande", "Arial", sans-serif;*/
    font-size: 1.3em;
    text-align: center;
    width: 52px;
    margin-top: -35px!important;
    white-space: nowrap;
}
.tooltip {position: absolute; margin:0;}
.tooltip-inner {background: #ffcc00; font-size: 2em; color:black;}
.tooltip[class*="top"] .tooltip-arrow {    border-top-color: #ffcc00;}


/*=====================================================
                        NAV
====================================================*/
.navbar {background-color: #ffcc00; border-radius: 0; padding:0; border-color:white; border-top:2px solid; border-bottom:2px solid;}

.navbar li:first-child {border-left: 2px solid white;}
.navbar li {
    border-right: 2px solid white;
    text-align: center;
    text-transform: uppercase;
    background: #369;
}
.navbar li a {color:white; text-align: center;}


/*=====================================================
                        footer
====================================================*/
#social:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}
.eu { width:auto; margin:10px; max-height: 80px;}
.footer p {color:white;}
.footer .social {margin-top:20px;}






@media (max-width: 768px) {
    .footer p { line-height:1;}
}