//-------------------------------------------------------------------------
// Shared variables
//-------------------------------------------------------------------------
$color-disclaimer-text: #ff6e6e;
$color-login-request-fieldset-legend: #ccc;
$color-input-text: #333;
$color-input-text-placeholder: #666;

$size-padding-topbottom-input: 2px;
//-------------------------------------------------------------------------


//-------------------------------------------------------------------------
// Shared Mixins
//-------------------------------------------------------------------------
@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}
}
//-------------------------------------------------------------------------


@import "users_management";

.padding{
    &-right{padding-right: 8px;}
    &-left{padding-left: 8px;}
}


.pop-up-container{
    position: fixed;
    height: 100vh;
    top: 0px;
    left: 0px;
    width: 70vw;
    padding-left: 15vw;
    background: rgba(0,0,0,0.8);
    padding-right: 15vw;
    box-sizing: content-box;

    .pop-up{
        margin-top: 100px;
    }
}


.btn-secondary{
    color: #333;
}




.pdf-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;

    .pdf-embedded{
        height: 90vh;
        width: 100%;
    }
}

.login-request-form, .create-edit-user-form{
    fieldset{
        legend{
            color: $color-login-request-fieldset-legend;
        }
        margin-bottom: 16px;

    }

    input,textarea{
        color: #1a1b1c;
        width: 100%;
        padding: $size-padding-topbottom-input 4px;
    }

    .caption{
        padding-top: $size-padding-topbottom-input;
    }

    input{
        display: block;
        margin-bottom: 10px;
    }
    label{
        display: block;
    }
    textarea{
        min-height: 120px;
    }
}

.disclaimer-container{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0px;

    .disclaimer-text{
        color: $color-disclaimer-text;
        padding-bottom: 8px;
        line-height: 14px;
    }

    label{
        margin-bottom: 0px;
        margin-top: -5px;
        top: -2px;
        position: relative;
        margin-left: 4px;
    }
}