<style>

</style>
<div class="container">

    <div class="row">
        <!--<div class="col-xs-6 col-xs-offset-4 col-sm-5 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset4">-->
            <h1 class="title text-center"><i class="fa fa-thumb-tack fa-fw"></i> Event</h1>
    </div>
<div class="row">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h2><i class="fa fa-thumb-tack fa-fw"> </i> Filters</h2>
            </div>
    <!--tooltip-popup-delay="500" tooltip="New Event" >-->
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >
                <button type="button" class="btn btn-primary btn-lg hint hint--top" data-hint="New event" ng-click="m_oController.newEvent()">New Event</button>
            </div>

    </div>

    <div class="eventlist">
        <div class="row">
            <ul class="nav navbar-nav">
                <li class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <h3>Country</h3>
                    <select class="form-control" ng-model="search.countryCode" ng-change="m_oController.LoadRegion()" ng-options="Country.countryCode as Country.countryname for Country in m_oController.GetCountries()"></select>
                    <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterCountry()" ng-show="m_oController.m_bShowClearFilterCountry"></span>
                </li>
                <li class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <h3>Region</h3>
                    <select class="form-control" ng-model="search.regionName" ng-change="m_oController.SelectRegion()" ng-options="Region.countryname as Region.countryname for Region in m_oController.m_oRegions"></select>
                    <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterRegion()" ng-show="m_oController.m_bShowClearFilterRegion"></span>
                </li>
                <li class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <h3>Year</h3>
                    <input class="form-control" ng-model="search.year" ng-change="m_oController.YearChange()" type="search">
                    <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterYear()" ng-show="m_oController.m_bShowClearFilterYear"></span>
                </li>
                <li class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <h3>Month</h3>
                    <input class="form-control" ng-model="search.month" ng-change="m_oController.MonthChange()" type="search">
                    <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterMonth()" ng-show="m_oController.m_bShowClearFilterMonth"></span>
                </li>
                <li class="col-xs-8 col-sm-1 col-md-2 col-lg-2">
                    <h3>Day</h3>
                    <input class="form-control" ng-model="search.day" ng-change="m_oController.DayChange()" type="search">
                    <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterDay()" ng-show="m_oController.m_bShowClearFilterDay"></span>
                </li>
                <li class="col-xs-4 col-sm-1 col-md-2 col-lg-2">
                    <h3>Impacts</h3>
                    <input  ng-model="search.hasSocioImpacts" type="checkbox">
                </li>
            </ul>
        </div>
    </div>











    <!--<div class="row">-->
        <!--<div class="col-lg-2"><label class="control-label">Country</label></div>-->
        <!--<div class="col-lg-3"><label class="control-label">Region</label></div>-->
        <!--<div class="col-lg-2"><label class="control-label">Year</label></div>-->
        <!--<div class="col-lg-2"><label class="control-label">Month</label></div>-->
        <!--<div class="col-lg-2"><label class="control-label">Day</label></div>-->
        <!--<div class="col-lg-1"><label class="control-label">Impacts</label></div>-->
    <!--</div>-->
    <div class="row">
    	<div class="table-responsive">
    		<table class="table table-hover">
    			<thead>
    				<tr>
    					<th></th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
    					<td></td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
    
    <!--<div class="row">        -->
        <!--<div class="col-lg-2 btn-group">-->
            <!--<select class="form-control" ng-model="search.countryCode" ng-change="m_oController.LoadRegion()" ng-options="Country.countryCode as Country.countryname for Country in m_oController.GetCountries()"></select>-->
            <!--<span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterCountry()" ng-show="m_oController.m_bShowClearFilterCountry"></span>-->
        <!--</div>-->
        <!--<div class="col-lg-3 btn-group">-->
            <!--<select class="form-control" ng-model="search.regionName" ng-change="m_oController.SelectRegion()" ng-options="Region.countryname as Region.countryname for Region in m_oController.m_oRegions"></select>-->
            <!--<span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterRegion()" ng-show="m_oController.m_bShowClearFilterRegion"></span>-->
        <!--</div>-->
        <!--<div class="col-lg-2 btn-group">-->
            <!--<input class="form-control" ng-model="search.year" ng-change="m_oController.YearChange()" type="search">-->
            <!--<span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterYear()" ng-show="m_oController.m_bShowClearFilterYear"></span>-->
        <!--</div>-->
        <!--<div class="col-lg-2 btn-group">-->
            <!--<input class="form-control" ng-model="search.month" ng-change="m_oController.MonthChange()" type="search">-->
            <!--<span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterMonth()" ng-show="m_oController.m_bShowClearFilterMonth"></span>-->
        <!--</div>-->
        <!--<div class="col-lg-2 btn-group">-->
            <!--<input class="form-control" ng-model="search.day" ng-change="m_oController.DayChange()" type="search">-->
            <!--<span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterDay()" ng-show="m_oController.m_bShowClearFilterDay"></span>-->
        <!--</div>-->
        <!--<div class="col-lg-1">-->
            <!--<input ng-model="search.hasSocioImpacts" type="checkbox">-->
        <!--</div>-->
    <!--</div>-->
    <br/>
    <div class="row">
        <table class="table">
            <thead>
                <th></th>
                <th></th>
                <th class="eventPublicListHeader" ng-click="predicate = 'countryCode'; reverse=!reverse">Country</th>
                <th class="eventPublicListHeader" ng-click="predicate = 'regionName'; reverse=!reverse">Region</th>
                <th class="eventPublicListHeader" ng-click="predicate = 'startDate'; reverse=!reverse">Start Date</th>
                <th class="eventPublicListHeader" ng-click="predicate = 'startHour'; reverse=!reverse">Start Hour</th>
            </thead>
            <tbody>
                <tr ng-repeat="oItem in m_oController.m_oEventList  | orderBy:predicate:reverse | filter:search | pagination : m_oController.currentPage*m_oController.itemsPerPage | limitTo: m_oController.itemsPerPage ">
                    <td><button ng-show="oItem.editMode || m_oController.m_oLoginService.isAdmin()" type="button" class="btn btn-danger" ng-click="m_oController.deleteEvent(oItem.id)">Del</button></td>
                    <td ng-show="oItem.editMode || m_oController.m_oLoginService.isAdmin()"><button type="button" class="btn btn-primary" ng-click="m_oController.openEvent(oItem.id)">Edit</button></td>
                    <td ng-show="!oItem.editMode && !m_oController.m_oLoginService.isAdmin()"><button type="button" class="btn btn-warning" ng-click="m_oController.openEvent(oItem.id)">View</button></td>
                    <td>{{oItem.countryCode}}</td>
                    <td>{{oItem.regionName}}</td>
                    <td>{{oItem.startDate}}</td>
                    <td>{{oItem.startHour}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <ul class="pagination">
            <li ng-class="m_oController.DisablePrevPage()">
                <a href ng-click="m_oController.prevPage()"> Prev</a>
            </li>
            <li ng-repeat="n in m_oController.range()"
                ng-class="{active: n == m_oController.currentPage}"
                ng-click="m_oController.setPage(n)">
                <a href>{{n+1}}</a>
            </li>
            <li ng-class="m_oController.DisableNextPage()">
                <a href ng-click="m_oController.nextPage()">Next </a>
            </li>
        </ul>
    </div>
</div>