<style>
.navbar.eventlist {height: 1em;}
</style>
<div class="container-fluid">

    <div class="row">
        <h1 class="col-xs-1"><i class="fa fa-thumb-tack fa-fw"></i>Events</h1>
    </div>
    <div class="row">
        <div class="col-xs-1 col-md-1" tooltip-popup-delay="500" tooltip="New Event" >
            <button type="button" class="btn btn-primary btn-lg" ng-click="m_oController.newEvent()">New Event</button>
        </div>
    </div>
    <div class="row">
        <h3 class="col-xs-1"><i class="fa fa-thumb-tack fa-fw"></i>Filters</h3>
    </div>
    <div class="navbar eventlist">
    	<ul class="nav navbar-nav">
            <li class="control-label">Country</li>
            <li class="control-label">Region</li>
            <li class="control-label">Year</li>
            <li class="control-label">Month</li>
            <li class="control-label">Day</li>
            <li class="control-label">Impacts</li>
    	</ul>
    </div>


    <!--<div class="row">-->
        <!--<div class="col-lg-2"><label class="control-label">Country</label></div>-->
        <!--<div class="col-lg-3"><label class="control-label">Region</label></div>-->
        <!--<div class="col-lg-2"><label class="control-label">Year</label></div>-->
        <!--<div class="col-lg-2"><label class="control-label">Month</label></div>-->
        <!--<div class="col-lg-2"><label class="control-label">Day</label></div>-->
        <!--<div class="col-lg-1"><label class="control-label">Impacts</label></div>-->
    <!--</div>-->
    <div class="row">
    	<div class="table-responsive">
    		<table class="table table-hover">
    			<thead>
    				<tr>
    					<th></th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
    					<td></td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
    
    <div class="row">        
        <div class="col-lg-2 btn-group">
            <select class="form-control" ng-model="search.countryCode" ng-change="m_oController.LoadRegion()" ng-options="Country.countryCode as Country.countryname for Country in m_oController.GetCountries()"></select>
            <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterCountry()" ng-show="m_oController.m_bShowClearFilterCountry"></span>
        </div>
        <div class="col-lg-3 btn-group">
            <select class="form-control" ng-model="search.regionName" ng-change="m_oController.SelectRegion()" ng-options="Region.countryname as Region.countryname for Region in m_oController.m_oRegions"></select>
            <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterRegion()" ng-show="m_oController.m_bShowClearFilterRegion"></span>
        </div>
        <div class="col-lg-2 btn-group">
            <input class="form-control" ng-model="search.year" ng-change="m_oController.YearChange()" type="search">
            <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterYear()" ng-show="m_oController.m_bShowClearFilterYear"></span>
        </div>
        <div class="col-lg-2 btn-group">
            <input class="form-control" ng-model="search.month" ng-change="m_oController.MonthChange()" type="search">
            <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterMonth()" ng-show="m_oController.m_bShowClearFilterMonth"></span>
        </div>
        <div class="col-lg-2 btn-group">
            <input class="form-control" ng-model="search.day" ng-change="m_oController.DayChange()" type="search">
            <span class="searchclear glyphicon glyphicon-remove-circle" ng-click="m_oController.clearFilterDay()" ng-show="m_oController.m_bShowClearFilterDay"></span>
        </div>
        <div class="col-lg-1">
            <input ng-model="search.hasSocioImpacts" type="checkbox">
        </div>
    </div>
    <br/>
    <div class="row">
        <table class="table">
            <thead>
                <th></th>
                <th></th>
                <th>Country</th>
                <th>Region</th>
                <th>Start Date</th>
                <th>Start Hour</th>
            </thead>
            <tbody>
                <tr ng-repeat="oItem in m_oController.m_oEventList  | filter:search | pagination : m_oController.currentPage*m_oController.itemsPerPage | limitTo: m_oController.itemsPerPage">
                    <td><button type="button" tooltip-popup-delay="500" tooltip="Delete" class="btn btn-danger" ng-click="m_oController.deleteEvent(oItem.id)">Del</button></td>
                    <td><button type="button" tooltip-popup-delay="500" tooltip="Edit" class="btn btn-primary" ng-click="m_oController.openEvent(oItem.id)">Edit</button></td>
                    <td>{{oItem.countryCode}}</td>
                    <td>{{oItem.regionName}}</td>
                    <td>{{oItem.startDate}}</td>
                    <td>{{oItem.startHour}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <ul class="pagination">
            <li ng-class="m_oController.DisablePrevPage()">
                <a href ng-click="m_oController.prevPage()"> Prev</a>
            </li>
            <li ng-repeat="n in m_oController.range()"
                ng-class="{active: n == m_oController.currentPage}"
                ng-click="m_oController.setPage(n)">
                <a href>{{n+1}}</a>
            </li>
            <li ng-class="m_oController.DisableNextPage()">
                <a href ng-click="m_oController.nextPage()">Next </a>
            </li>
        </ul>
    </div>
</div>