<div class="container-fluid">
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Country</label>
        <div class="col-sm-8">
            <select class="form-control" ng-model="m_oController.m_oEvent.countryCode" ng-options="Country.countryCode as Country.countryname for Country in m_oController.m_oCountries"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Region</label>
        <div class="col-sm-8">
            <select class="form-control" ng-model="m_oController.m_oEvent.countryId" ng-options="Region.id as Region.countryname for Region in m_oController.m_oRegions"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Start Date</label>
        <div class="col-sm-8">
            <input type="date" class="form-control" ng-model="m_oController.m_oEvent.startDate" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Start Hour</label>
        <div class="col-sm-8">
            <input type="time" class="form-control" ng-model="m_oController.m_oEvent.startHour">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-8">
            <textarea class="form-control" rows="2" placeholder="Description" ng-model="m_oController.m_oEvent.description"></textarea>
        </div>
    </div>

    <div class="col-sm-12" >
        <table class="table">
            <tr>
                <td rowspan="2">
                    <label class="control-label">Duration</label>
                </td>
                <td>
                    <label class="control-label">Unit</label>
                </td>
                <td>
                    <label class="control-label">Value</label>
                </td>
                <td colspan="2">
                    <label class="control-label">Type</label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" value="true" ng-model="m_oController.m_oEvent.unitHour" ng-checked="true">
                            hours
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" value="false" ng-model="m_oController.m_oEvent.unitHour">
                            days
                        </label>
                    </div>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-model="m_oController.m_oEvent.unitValue" step="any" min="0">
                </td>
                <td colspan="2">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" value="true" ng-model="m_oController.m_oEvent.unitApproximated" ng-checked="true">
                            Approximate
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" value="false" ng-model="m_oController.m_oEvent.unitApproximated">
                            Exact
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="text-center">
                    <label class="control-label">Wave information</label>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <label class="control-label">Wave height</label>
                </td>
                <td>
                    <label class="control-label">Type</label>
                </td>
                <td>
                    <label class="control-label">Value (meters)</label>
                </td>
                <td>
                    <label class="control-label">Inspire</label>
                </td>
                <td>
                    <label class="control-label">Time Series</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" ng-model="m_oController.m_oEvent.waveHeightType" ng-options="idx as choice for (idx, choice) in m_oController.m_oWaveHeightType">
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-model="m_oController.m_oEvent.waveHeightValue" step="any" min="0">
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.waveHeightInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wave-height-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wave-height-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'waveHeightInspire')" ng-hide="true" ng-click="m_oController.Check()" />
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.waveHeightInspireuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.waveHeightInspireuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.waveHeightTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wave-height-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wave-height-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'waveHeightTimeSeries')" ng-hide="true" ng-click="m_oController.Check()" />
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.waveHeightTimeSeriesuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.waveHeightTimeSeriesuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <label class="control-label">Wave Direction</label>
                </td>
                <td>
                    <label class="control-label">Type</label>
                </td>
                <td>
                    <label class="control-label">Direction</label>
                </td>
                <td>
                    <label class="control-label">Inspire</label>
                </td>
                <td>
                    <label class="control-label">Time Series</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" ng-model="m_oController.m_oEvent.waveDirectionType" ng-options="idx as choice for (idx, choice) in m_oController.m_oWaveDiectionType">
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-show="m_oController.m_oEvent.waveDirectionType == 0" ng-model="m_oController.m_oEvent.waveDirectionDegree" step="any" min="-360" max="360">
                    <div style="overflow-y:scroll; height: 70px;" ng-show="m_oController.m_oEvent.waveDirectionType == 1">
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="N" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="wavenord" ng-checked="true">
                                <img src="img/arrow_down.png" tooltip="Nord" >
                                N
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="NE"ng-model="m_oController.m_oEvent.waveDirectionClustered" id="wavenordest">
                                <img src="img/arrow_down_left.png" tooltip="Nord-Est" >
                                NE
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="E" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="waveest">
                                <img src="img/arrow_left.png" tooltip="Est" >
                                E
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="SE" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="wavesudest">
                                <img src="img/arrow_up_left.png" tooltip="Sud-Est" >
                                SE
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="S" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="wavesud">
                                <img src="img/arrow_up.png" tooltip="Sud" >
                                S
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="SO" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="wavesudovest">
                                <img src="img/arrow_up_right.png" tooltip="Sud-West" >
                                SW
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="O" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="waveovest">
                                <img src="img/arrow_right.png" tooltip="West" >
                                W
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="NO" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="wavenordovest">
                                <img src="img/arrow_down_right.png" tooltip="Nord-West" >
                                NW
                            </label>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.waveDirectionInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wavedirection-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wavedirection-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'waveDirectionInspire')" ng-hide="true" ng-click="m_oController.Check()" />
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.waveDirectionInspireuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.waveDirectionInspireuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.waveDirectionTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wavedirection-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wavedirection-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'waveDirectionTimeSeries')" ng-hide="true" ng-click="m_oController.Check()" />
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.waveDirectionTimeSeriesuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.waveDirectionTimeSeriesuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="text-center">
                    <label class="control-label">Wind information</label>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <label class="control-label">Wind Intensity</label>
                </td>
                <td>
                    <label class="control-label">Type</label>
                </td>
                <td>
                    <label class="control-label">Value (m/s)</label>
                </td>
                <td>
                    <label class="control-label">Inspire</label>
                </td>
                <td>
                    <label class="control-label">Time Series</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" ng-model="m_oController.m_oEvent.windIntensityType" ng-options="idx as choice for (idx, choice) in m_oController.m_oWindIntensityType">
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-model="m_oController.m_oEvent.windIntensityValue" step="any" min="0">
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.windIntensityInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wind-intensity-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wind-intensity-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'windIntensityInspire')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.windIntensityInspireuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.windIntensityInspireuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.windIntensitySeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wind-intensity-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wind-intensity-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'windIntensitySeries')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.windIntensitySeriesuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.windIntensitySeriesuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <label class="control-label">Wind Direction</label>
                </td>
                <td>
                    <label class="control-label">Type</label>
                </td>
                <td>
                    <label class="control-label">Direction</label>
                </td>
                <td>
                    <label class="control-label">Inspire</label>
                </td>
                <td>
                    <label class="control-label">Time Series</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" ng-model="m_oController.m_oEvent.windDirectionType" ng-options="idx as choice for (idx, choice) in m_oController.m_oWindDiectionType">

                    </select>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-show="m_oController.m_oEvent.windDirectionType == 0" ng-model="m_oController.m_oEvent.windDirectionDegree" step="any" max="360" min="-360">
                    <div style="overflow-y:scroll; height: 70px;" ng-show="m_oController.m_oEvent.windDirectionType == 1">
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="N" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windnord" checked>
                                <img src="img/arrow_down.png" tooltip="Nord" >
                                N
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="NE" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windnordest">
                                <img src="img/arrow_down_left.png" tooltip="Nord-Est" >
                                NE
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="E" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windest">
                                <img src="img/arrow_left.png" tooltip="Est" >
                                E
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="SE" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windsudest">
                                <img src="img/arrow_up_left.png" tooltip="Sud-Est" >
                                SE
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="S" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windsud">
                                <img src="img/arrow_up.png" tooltip="Sud" >
                                S
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="SO" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windsudovest">
                                <img src="img/arrow_up_right.png" tooltip="Sud-West" >
                                SW
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="O"  ng-model="m_oController.m_oEvent.windDirectionClustered" id="windovest">
                                <img src="img/arrow_right.png" tooltip="West" >
                                W
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="NO" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windnordovest">
                                <img src="img/arrow_down_right.png" tooltip="Nord-West" >
                                NW
                            </label>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.windDirectionInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wind-direction-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wind-direction-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'windDirectionInspire')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.windDirectionInspireuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.windDirectionInspireuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.windDirectionTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wind-direction-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wind-direction-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'windDirectionTimeSeries')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.windDirectionTimeSeriesuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.windDirectionTimeSeriesuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td rowspan="2">
                    <label class="control-label">Water Level</label>
                </td>
                <td>
                    <label class="control-label">Type</label>
                </td>
                <td>
                    <label class="control-label">Value ((meters))</label>
                </td>
                <td>
                    <label class="control-label">Inspire</label>
                </td>
                <td>
                    <label class="control-label">Time Series</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" ng-model="m_oController.m_oEvent.waterLevelType" ng-options="idx as choice for (idx, choice) in m_oController.m_oWaterLevelType">
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-model="m_oController.m_oEvent.waterLevelValue" step="any" min="0">
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.waterLevelInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="water-level-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="water-level-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'windIntensityInspire')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.waterLevelInspireuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.waterLevelInspireuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.waterLevelTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="water-level-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="water-level-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'windIntensitySeries')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.waterLevelTimeSeriesuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.waterLevelTimeSeriesuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td rowspan="4">
                    <label class="control-label">River Flooding</label>
                </td>
                <td>
                    <label class="control-label">Relevant</label>
                </td>
                <td>
                    <label class="control-label" ng-show="m_oController.Flooding">Peak Water discharge (m^3/s)</label>
                </td>
                <td>
                    <label class="control-label" ng-show="m_oController.Flooding">Inspire</label>
                </td>
                <td>
                    <label class="control-label" ng-show="m_oController.Flooding">Time Series</label>
                </td>
            </tr>
            <tr>
                <td rowspan="3">
                    <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="m_oController.Flooding">
                </td>
                <td ng-show="m_oController.Flooding">
                    <input type="number" class="form-control" placeholder="Value" ng-show="m_oController.Flooding" ng-model="m_oController.m_oEvent.peakWaterDischarge" step="any" min="0">
                </td>
                <td ng-show="m_oController.Flooding">
                    <div class="loading" ng-show="m_oController.peakWaterInpireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="riverflooding-direction-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="riverflooding-direction-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'peakWaterInpire')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.peakWaterInpireuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.peakWaterInpireuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
                <td ng-show="m_oController.Flooding">
                    <div class="loading" ng-show="m_oController.peakWaterTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="riverflooding-direction-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="riverflooding-direction-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'peakWaterTimeSeries')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.peakWaterTimeSeriesuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.peakWaterTimeSeriesuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td ng-show="m_oController.Flooding">
                    <label class="control-label" ng-show="m_oController.Flooding">Flood height (meters)</label>
                </td>
                <td ng-show="m_oController.Flooding">
                    <label class="control-label" ng-show="m_oController.Flooding">Inspire</label>
                </td>
                <td ng-show="m_oController.Flooding">
                    <label class="control-label" ng-show="m_oController.Flooding">Time Series</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-show="m_oController.Flooding" ng-model="m_oController.m_oEvent.floodHeight" step="any" min="0">
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.floodHeightInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="floodingheight-direction-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="floodingheight-direction-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'floodHeightInspire')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.floodHeightInspireuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.floodHeightInspireuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.floodHeightTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="floodingheight-direction-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="floodingheight-direction-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'floodHeightTimeSeries')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.floodHeightTimeSeriesuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.floodHeightTimeSeriesuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <label class="control-label">Reported casualties</label>
                </td>
                <td>
                    <label class="control-label">Number</label>
                </td>
                <td>
                    <label class="control-label">Description</label>
                </td>
                <td>
                    <label class="control-label">Inspire</label>
                </td>
                <td>
                    <label class="control-label">Shape or dbf</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-model="m_oController.m_oEvent.reporedCasualtiesNumber" min="0">
                </td>
                <td>
                    <textarea class="form-control" rows="2" placeholder="Description" ng-model="m_oController.m_oEvent.reporedCasualtiesDescription"></textarea>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.reporedCasualtiesInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="report-direction-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="report-direction-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'reporedCasualtiesInspire')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.reporedCasualtiesInspireuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.reporedCasualtiesInspireuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.reporedCasualtiesTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="report-direction-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="report-direction-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'reporedCasualtiesTimeSeries')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.reporedCasualtiesTimeSeriesuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.reporedCasualtiesTimeSeriesuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="4">
                    <label class="control-label">Damage to buildings</label>
                </td>
                <td>
                    <label class="control-label">Damage</label>
                </td>
                <td>
                    <label class="control-label">Total Cost (€)</label>
                </td>
                <td >
                    <label class="control-label">Inspire</label>
                </td>
                <td>
                    <label class="control-label">Shape or dbf</label>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea class="form-control" rows="2" placeholder="Damage" ng-model="m_oController.m_oEvent.damageToBuildingsDescription"></textarea>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-model="m_oController.m_oEvent.damageToBuildingsCost" step="any" min="0">
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.damageToBuildingsInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="damage-direction-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="damage-direction-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'damageToBuildingsInspire')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.damageToBuildingsInspireuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.damageToBuildingsInspireuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.damageToBuildingsTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="damage-direction-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="damage-direction-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'damageToBuildingsTimeSeries')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.damageToBuildingsTimeSeriesuploaded">
                            <img src="img/download.png" >
                        </div>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.damageToBuildingsTimeSeriesuploaded">
                            <img src="img/delete.png"  >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label">Cost Details</label>
                </td>
                <td colspan="3">
                    <label class="control-label">Description of measure</label>
                </td>

            </tr>
            <tr>
                <td>
                    <select class="form-control" ng-model="m_oController.m_oEvent.costDetail" ng-options="idx as choice for (idx, choice) in m_oController.m_oCostDetails">
                    </select>
                </td>
                <td colspan="3">
                    <textarea class="form-control" rows="2" placeholder="Description of measure" ng-model="m_oController.m_oEvent.descriptionOfMeasure"></textarea>
                </td>

            </tr>
        </table>
    </div>

    <div class="col-sm-12">
        <table class="table" ng-hide="m_oController.m_oEvent.Media.length == 0">
            <tr>
                <td rowspan="{{m_oController.m_oEvent.Media.length}}"><label class="control-label">Media</label></td>
                <td><label class="control-label">Attachments</label></td>
                <td><label class="control-label">Lat</label></td>
                <td><label class="control-label">Lon</label></td>
            </tr>
            <tbody ng-repeat="oTableRow in m_oController.m_oEvent.Media">
                <tr>
                    <td></td>
                    <td>
                        <div>
                            <a ng-click="">{{oTableRow.filename}}</a>
                            <img src="img/delete.png" tooltip="Delete">
                        </div>
                    </td>
                    <td ng-hide="$index > 0">
                        <label class="control-label">{{oTableRow.lat}}</label>
                    </td>
                    <td ng-hide="$index > 0">
                        <label class="control-label">{{oTableRow.lon}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12">
        <table class="table" ng-hide="m_oController.m_oEvent.GIS == null">
            <tr>
                <td rowspan="3"><label class="control-label">Gis</label></td>
                <td><label class="control-label">Attachments</label></td>
            </tr>
            <tr ng-hide="m_oController.m_oEvent.GIS.GisFile == null">
                <td>
                    <a ng-click="">{{m_oController.m_oEvent.GIS.GisFile}}</a>
                    <img src="img/delete.png" tooltip="Delete" >
                </td>
            </tr>
            <tr ng-hide="m_oController.m_oEvent.GIS.InspireFile == null">
                <td>
                    <a ng-click="">{{m_oController.m_oEvent.GIS.InspireFile}}</a>
                    <img src="img/delete.png" tooltip="Delete">
                </td>
            </tr>
        </table>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
            <button type="button" class="btn btn-primary btn-lg" ng-click="m_oController.AddMedia()">Add supplementary media</button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary btn-lg" ng-click="m_oController.AddGIS('sm')">Add supplementary GIS</button>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-lg" ng-click="m_oController.Save()">Send</button>
        </div>
    </div>
    <div ng-show="selected"></div>
</form>
</div>