<div class="container-fluid">
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Country</label>
        <div class="col-sm-8" ng-class="{'has-warning has-feedback' :m_oController.m_oEvent.countryCode == null || m_oController.m_oEvent.countryCode == ''}">
            <select id="select_country_code" class="form-control" ng-model="m_oController.m_oEvent.countryCode" ng-options="Country.countryCode as Country.countryname for Country in m_oController.GetCountries()"></select>
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-hide="m_oController.m_oEvent.countryCode != null && m_oController.m_oEvent.countryCode != 0" tooltip="Select a country" style="margin-right: 30px;"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Region</label>
        <div class="col-sm-8" ng-class="{'has-warning has-feedback' :m_oController.m_oEvent.countryId == null || m_oController.m_oEvent.countryId == 0}">
            <select class="form-control" ng-model="m_oController.m_oEvent.countryId" ng-options="Region.id as Region.countryname for Region in m_oController.m_oRegions"></select>
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-hide="m_oController.m_oEvent.countryId != null && m_oController.m_oEvent.countryId != 0" tooltip="Select a region" style="margin-right: 30px;"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="inpute_date">Start Date</label>
        <div class="col-sm-3" ng-class="{'has-warning has-feedback' : m_oController.m_oEvent.startDate == null}">
            <input type="date" id="inpute_date" class="form-control" ng-model="m_oController.m_oEvent.startDate" >
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-hide="m_oController.m_oEvent.startDate != null" tooltip="Insert a start date"></span>
        </div>
        <label class="col-sm-2 control-label">Start Hour</label>
        <div class="col-sm-3">
            <input type="time" class="form-control" ng-model="m_oController.m_oEvent.startHour">
        </div>
    </div>

    <div class="form-group" >
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-8" ng-class="{'has-warning has-feedback' : m_oController.m_oEvent.description == null || m_oController.m_oEvent.description == ''}">
            <textarea class="form-control" rows="2"  placeholder="Description" ng-model="m_oController.m_oEvent.description"></textarea>
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-hide="m_oController.m_oEvent.description != null && m_oController.m_oEvent.description != ''" tooltip="Insert a description"></span>
        </div>
    </div>

    <div class="col-sm-12" >
        <table class="table">
            <tr>
                <td rowspan="2">
                    <label class="control-label">Duration</label>
                </td>
                <td>
                    <label class="control-label">Unit</label>
                </td>
                <td>
                    <label class="control-label">Value</label>
                </td>
                <td colspan="2">
                    <label class="control-label">Type</label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" ng-value="true" ng-model="m_oController.m_oEvent.unitHour">
                            hours
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" ng-value="false" ng-model="m_oController.m_oEvent.unitHour">
                            days
                        </label>
                    </div>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-model="m_oController.m_oEvent.unitValue" step="any" min="0">
                </td>
                <td colspan="2">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" ng-value="true" ng-model="m_oController.m_oEvent.unitApproximated">
                            Approximate
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" ng-value="false" ng-model="m_oController.m_oEvent.unitApproximated">
                            Exact
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="text-center">
                    <label class="control-label">WAVE INFORMATION</label>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <label class="control-label">Wave height</label>
                </td>
                <td>
                    <label class="control-label">Type</label>
                </td>
                <td>
                    <label class="control-label">Value (meters)</label>
                </td>
                <td>
                    <label class="control-label">Inspire</label>
                </td>
                <td>
                    <label class="control-label">Time Series</label>
                </td>
            </tr>
            <tr>
                <td>

                    <select class="form-control" ng-model="m_oController.m_oEvent.waveHeightType" ng-options="obj.value as obj.name for obj in m_oController.GetWaveHeightType()">
                    </select>

                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-model="m_oController.m_oEvent.waveHeightValue" step="any" min="0">
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.waveHeightInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wave-height-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wave-height-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'waveHeightInspire')" ng-hide="true" ng-click="m_oController.Check()" />
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'waveHeightInspire')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.waveHeightInspire != null">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="project-icon delete" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.waveHeightInspire != null">
                            <img src="img/delete.png" tooltip="Delete" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'waveHeightInspire')">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.waveHeightTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wave-height-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wave-height-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'waveHeightTimeSeries')" ng-hide="true" ng-click="m_oController.Check()" />
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'waveHeightTimeSeries')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.waveHeightTimeSeries">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.waveHeightTimeSeries">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'waveHeightTimeSeries')">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <label class="control-label">Wave Direction</label>
                </td>
                <td>
                    <label class="control-label">Type</label>
                </td>
                <td>
                    <label class="control-label">Direction</label>
                </td>
                <td>
                    <label class="control-label">Inspire</label>
                </td>
                <td>
                    <label class="control-label">Time Series</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" ng-model="m_oController.m_oEvent.waveDirectionType" ng-options="obj.value as obj.name for obj in m_oController.GetWaveDiectionType()">
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-show="m_oController.m_oEvent.waveDirectionType == 1" ng-model="m_oController.m_oEvent.waveDirectionDegree" step="any" min="-360" max="360">
                    <div style="overflow-y:scroll; height: 70px;" ng-show="m_oController.m_oEvent.waveDirectionType == 2">
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="N" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="wavenord">
                                <img src="img/arrow_down.png" tooltip="Nord" >
                                N
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="NE"ng-model="m_oController.m_oEvent.waveDirectionClustered" id="wavenordest">
                                <img src="img/arrow_down_left.png" tooltip="Nord-Est" >
                                NE
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="E" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="waveest">
                                <img src="img/arrow_left.png" tooltip="Est" >
                                E
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="SE" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="wavesudest">
                                <img src="img/arrow_up_left.png" tooltip="Sud-Est" >
                                SE
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="S" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="wavesud">
                                <img src="img/arrow_up.png" tooltip="Sud" >
                                S
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="SO" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="wavesudovest">
                                <img src="img/arrow_up_right.png" tooltip="Sud-West" >
                                SW
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="O" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="waveovest">
                                <img src="img/arrow_right.png" tooltip="West" >
                                W
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="NO" ng-model="m_oController.m_oEvent.waveDirectionClustered" id="wavenordovest">
                                <img src="img/arrow_down_right.png" tooltip="Nord-West" >
                                NW
                            </label>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.waveDirectionInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wavedirection-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wavedirection-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'wavewindDirectionInspire')" ng-hide="true" ng-click="m_oController.Check()" />
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'wavewindDirectionInspire')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.waveDirectionInspire">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.waveDirectionInspire">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'wavewindDirectionInspire')" >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.waveDirectionTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wavedirection-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wavedirection-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'wavewindDirectionTimeSeries')" ng-hide="true" ng-click="m_oController.Check()" />
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'wavewindDirectionTimeSeries')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.waveDirectionTimeSeries">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.waveDirectionTimeSeries">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'wavewindDirectionTimeSeries')" >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="text-center">
                    <label class="control-label">WIND INFORMATION</label>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <label class="control-label">Wind Intensity</label>
                </td>
                <td>
                    <label class="control-label">Type</label>
                </td>
                <td>
                <label class="control-label">Value (m/s)</label>
            </td>
                <td>
                    <label class="control-label">Inspire</label>
                </td>
                <td>
                    <label class="control-label">Time Series</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" ng-model="m_oController.m_oEvent.windIntensityType" ng-options="obj.value as obj.name for obj in m_oController.GetWindIntensityType()">
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-model="m_oController.m_oEvent.windIntensityValue" step="any" min="0">
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.windIntensityInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wind-intensity-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wind-intensity-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'windIntensityInspire')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'windIntensityInspire')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.windIntensityInspire">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.windIntensityInspire">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'windIntensityInspire')" >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.windIntensitySeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wind-intensity-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wind-intensity-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'windIntensitySeries')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'windIntensitySeries')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.windIntensitySeries">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.windIntensitySeries">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'windIntensitySeries')" >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <label class="control-label">Wind Direction</label>
                </td>
                <td>
                    <label class="control-label">Type</label>
                </td>
                <td>
                    <label class="control-label">Direction</label>
                </td>
                <td>
                    <label class="control-label">Inspire</label>
                </td>
                <td>
                    <label class="control-label">Time Series</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" ng-model="m_oController.m_oEvent.windDirectionType" ng-options="obj.value as obj.name for obj in m_oController.GetWindDiectionType()">

                    </select>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-show="m_oController.m_oEvent.windDirectionType == 1" ng-model="m_oController.m_oEvent.windDirectionDegree" step="any" max="360" min="-360">
                    <div style="overflow-y:scroll; height: 70px;" ng-show="m_oController.m_oEvent.windDirectionType == 2">
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="N" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windnord" checked>
                                <img src="img/arrow_down.png" tooltip="Nord" >
                                N
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="NE" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windnordest">
                                <img src="img/arrow_down_left.png" tooltip="Nord-Est" >
                                NE
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="E" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windest">
                                <img src="img/arrow_left.png" tooltip="Est" >
                                E
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="SE" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windsudest">
                                <img src="img/arrow_up_left.png" tooltip="Sud-Est" >
                                SE
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="S" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windsud">
                                <img src="img/arrow_up.png" tooltip="Sud" >
                                S
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="SO" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windsudovest">
                                <img src="img/arrow_up_right.png" tooltip="Sud-West" >
                                SW
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="O"  ng-model="m_oController.m_oEvent.windDirectionClustered" id="windovest">
                                <img src="img/arrow_right.png" tooltip="West" >
                                W
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label">
                                <input type="radio" value="NO" ng-model="m_oController.m_oEvent.windDirectionClustered" id="windnordovest">
                                <img src="img/arrow_down_right.png" tooltip="Nord-West" >
                                NW
                            </label>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.windDirectionInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wind-direction-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wind-direction-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'wavewindDirectionInspire')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'wavewindDirectionInspire')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.windDirectionInspire">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.windDirectionInspire">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'wavewindDirectionInspire')" >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.windDirectionTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="wind-direction-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="wind-direction-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'wavewindDirectionTimeSeries')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'wavewindDirectionTimeSeries')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.windDirectionTimeSeries">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.windDirectionTimeSeries">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'wavewindDirectionTimeSeries')" >
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td rowspan="2">
                    <label class="control-label">Water Level</label>
                </td>
                <td>
                    <label class="control-label">Type</label>
                </td>
                <td>
                    <label class="control-label">Value (meters)</label>
                </td>
                <td>
                    <label class="control-label">Inspire</label>
                </td>
                <td>
                    <label class="control-label">Time Series</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" ng-model="m_oController.m_oEvent.waterLevelType" ng-options="obj.value as obj.name for obj in m_oController.GetWaterLevelType()">
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-model="m_oController.m_oEvent.waterLevelValue" step="any" min="0">
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.waterLevelInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="water-level-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="water-level-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'waterLevelInspire')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'waterLevelInspire')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.waterLevelInspire">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.waterLevelInspire">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'waterLevelInspire')" >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.waterLevelTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="water-level-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="water-level-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'waterLevelTimeSeries')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'waterLevelTimeSeries')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.waterLevelTimeSeries">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.waterLevelTimeSeries">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'waterLevelTimeSeries')" >
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td rowspan="4">
                    <label class="control-label">River Flooding</label>
                </td>
                <td>
                    <label class="control-label">Relevant</label>
                </td>
                <td>
                    <label class="control-label" ng-show="m_oController.Flooding">Peak Water discharge (m^3/s)</label>
                </td>
                <td>
                    <label class="control-label" ng-show="m_oController.Flooding">Inspire</label>
                </td>
                <td>
                    <label class="control-label" ng-show="m_oController.Flooding">Time Series</label>
                </td>
            </tr>
            <tr>
                <td rowspan="3">
                    <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="m_oController.Flooding">
                </td>
                <td ng-show="m_oController.Flooding">
                    <input type="number" class="form-control" placeholder="Value" ng-show="m_oController.Flooding" ng-model="m_oController.m_oEvent.peakWaterDischarge" step="any" min="0">
                </td>
                <td ng-show="m_oController.Flooding">
                    <div class="loading" ng-show="m_oController.peakWaterInpireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="riverflooding-direction-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="riverflooding-direction-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'peakWaterInpire')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'peakWaterInpire')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.peakWaterInpire">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.peakWaterInpire">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'peakWaterInpire')" >
                        </div>
                    </div>
                </td>
                <td ng-show="m_oController.Flooding">
                    <div class="loading" ng-show="m_oController.peakWaterTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="riverflooding-direction-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="riverflooding-direction-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'peakWaterTimeSeries')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'peakWaterTimeSeries')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.peakWaterTimeSeries">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.peakWaterTimeSeries">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'peakWaterTimeSeries')" >
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td ng-show="m_oController.Flooding">
                    <label class="control-label" ng-show="m_oController.Flooding">Flood height (meters)</label>
                </td>
                <td ng-show="m_oController.Flooding">
                    <label class="control-label" ng-show="m_oController.Flooding">Inspire</label>
                </td>
                <td ng-show="m_oController.Flooding">
                    <label class="control-label" ng-show="m_oController.Flooding">Time Series</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" class="form-control" placeholder="Value" ng-show="m_oController.Flooding" ng-model="m_oController.m_oEvent.floodHeight" step="any" min="0">
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.floodHeightInspireuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="floodingheight-direction-file-input-inspire">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="floodingheight-direction-file-input-inspire" type="file" ng-file-select="onFileSelect($files, 'floodHeightInspire')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'floodHeightInspire')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.floodHeightInspire">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.floodHeightInspire">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'floodHeightInspire')" >
                        </div>
                    </div>
                </td>
                <td>
                    <div class="loading" ng-show="m_oController.floodHeightTimeSeriesuploading">
                        <img src="img/Spinner.gif" class="loading"/>
                    </div>
                    <div>
                        <div class="div-td">
                            <label for="floodingheight-direction-file-input-timeseries">
                                <div class="project-icon" tooltip-popup-delay="500" tooltip="Upload">
                                    <img class="project-icon-image" src="img/upload.png"/>
                                </div>
                            </label>
                        </div>
                        <input id="floodingheight-direction-file-input-timeseries" type="file" ng-file-select="onFileSelect($files, 'floodHeightTimeSeries')" ng-hide="true" ng-click="m_oController.Check()"/>
                        <a class="div-td" ng-href="{{m_oController.DownloadAttachment(m_oController.m_oEvent.id, 'floodHeightTimeSeries')}}">
                            <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Download" ng-show="m_oController.m_oEvent.floodHeightTimeSeries">
                                <button class="btn btn-block btn-success"><i class="fa fa-download fa-3x"></i>Download</button>
                                <!-- <img src="img/download.png" > -->
                            </div>
                        </a>
                        <div class="div-td project-icon" tooltip-popup-delay="500" tooltip="Delete" ng-show="m_oController.m_oEvent.floodHeightTimeSeries">
                            <img src="img/delete.png" ng-click="m_oController.DeleteAttachment(m_oController.m_oEvent.id, 'floodHeightTimeSeries')" >
                        </div>
                    </div>
                </td>
            </tr>

        </table>
    </div>

    <div class="col-sm-12">
        <table class="table" >
            <tr>
                <td colspan="6" class="text-center">
                    <label class="control-label">IMPACTS</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><label class="control-label">Category</label></td>
                <td><label class="control-label">Subcategory</label></td>
                <td><label class="control-label">Description</label></td>
                <td><label class="control-label">Quantitative description</label></td>
                <td><label class="control-label">Cost</label></td>
                <td><label class="control-label">Currency</label></td>
            </tr>
            <tbody>
                <tr ng-repeat="oTableRow in m_oController.m_oEvent.SocioImpacts" ng-hide="m_oController.m_oEvent.SocioImpacts.length == 0">
                    <td>
                        <div class="project-icon delete" tooltip-popup-delay="500" tooltip="Delete">
                            <img src="img/delete.png" tooltip="Delete" ng-click="m_oController.DeleteSocioImpact(oTableRow.id)">
                        </div>
                            <div class="project-icon delete" tooltip-popup-delay="500" tooltip="Edit">
                                <img src="img/edit.png" tooltip="Edit" ng-click="m_oController.EditSocioImpact(oTableRow.id)">
                        </div>
                    </td>
                    <td>
                        {{oTableRow.category}}
                    </td>
                    <td>
                        {{oTableRow.subcategory}}
                    </td>
                    <td>
                        {{oTableRow.description}}
                    </td>
                    <td>
                        {{oTableRow.unitMeasure}}
                    </td>
                    <td>
                        {{oTableRow.cost}}
                    </td>
                    <td>
                        {{oTableRow.currency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-sm-3" tooltip-popup-delay="500" tooltip="Add impact">
                            <div class="loading" ng-show="m_oController.m_bSaving" ><img class="loading" src="img/Spinner.gif"/></div>
                            <button type="button" class="btn btn-primary btn-lg" ng-click="m_oController.AddSocioimpact()" ng-hide="m_oController.m_bSaving">Add socio impact</button>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <label class="control-label">Total Cost: </label>
                    </td>
                    <td>
                        <label class="control-label">{{m_oController.GetTotalCost()}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <table class="table" ng-hide="m_oController.m_oEvent.Media.length == 0">
            <tr>
                <td><label class="control-label">Media</label></td>
                <td><label class="control-label">Attachments</label></td>
                <td><label class="control-label">Lat</label></td>
                <td><label class="control-label">Lon</label></td>
            </tr>
            <tbody ng-repeat="oTableRow in m_oController.m_oEvent.Media">
                <tr>
                    <td></td>
                    <td>
                        <div class="project-icon delete" tooltip-popup-delay="500" tooltip="Delete">
                            <img src="img/delete.png" tooltip="Delete" ng-click="m_oController.DeleteMedia(oTableRow.id, m_oController.m_oEvent.id)">
                        </div>
                        <a ng-href="{{m_oController.DownloadMedia(oTableRow.id)}}">
                            <div class="project-icon delete" tooltip-popup-delay="500" tooltip="Download">
                                <img src="img/download.png" tooltip="Download">
                            </div>
                        </a>
                        <div class="delete">
                            <a href ng-click="m_oController.OpenMedia(oTableRow.id)">{{oTableRow.shortDownloadPath}}</a>
                        </div>
                    </td>
                    <td>
                        <label class="control-label">{{oTableRow.lat}}</label>
                    </td>
                    <td>
                        <label class="control-label">{{oTableRow.lon}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12">
        <table class="table" ng-hide="m_oController.m_oEvent.GIS == null || m_oController.m_oEvent.GIS == ''">
            <tr>
                <td rowspan="3" style="width: 121px"><label class="control-label">Gis</label></td>
                <td><label class="control-label">Attachments</label></td>
            </tr>
            <tr ng-hide="m_oController.m_oEvent.GIS.shortGisFile == null">
                <td>
                    <div class="project-icon delete" tooltip-popup-delay="500" tooltip="Delete">
                        <img src="img/delete.png" tooltip="Delete" ng-click="m_oController.DeleteGis(m_oController.m_oEvent.GIS.id, m_oController.m_oEvent.id, 0)">
                    </div>
                    <a ng-href="{{m_oController.DownloadGis(m_oController.m_oEvent.GIS.id, 0)}}">
                        <div class="project-icon delete" tooltip-popup-delay="500" tooltip="Download">
                            <img src="img/download.png" tooltip="Download">
                        </div>
                    </a>
                    <div class="delete">
                        <a>{{m_oController.m_oEvent.GIS.shortGisFile}}</a>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-hide="m_oController.m_oEvent.GIS.shortInspireFile == null">
                <td>
                    <div class="project-icon delete" tooltip-popup-delay="500" tooltip="Delete">
                        <img src="img/delete.png" tooltip="Delete" ng-click="m_oController.DeleteGis(m_oController.m_oEvent.GIS.id, m_oController.m_oEvent.id, 1)">
                    </div>
                    <a ng-href="{{m_oController.DownloadGis(m_oController.m_oEvent.GIS.id, 1)}}">
                        <div class="project-icon delete" tooltip-popup-delay="500" tooltip="Download">
                            <img src="img/download.png" tooltip="Download">
                        </div>
                    </a>
                    <div class="delete">
                        <a>{{m_oController.m_oEvent.GIS.shortInspireFile}}</a>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="form-group">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <button type="button" class="btn btn-primary btn-lg" ng-click="m_oController.AddMedia()">Add supplementary media</button>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" >
            <button type="button" class="btn btn-primary btn-lg" ng-click="m_oController.AddGIS('sm')">Add supplementary GIS</button>
        </div>
        <div class="col-xs-12 col-sm- col-md-3 col-lg-3" tooltip-popup-delay="500" tooltip="Send">
            <div class="loading" ng-show="m_oController.m_bSaving" ><img class="loading" src="img/Spinner.gif"/></div>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="m_oController.Save()" ng-hide="m_oController.m_bSaving">Send/Close</button>
        </div>
    </div>
    <div ng-show="selected"></div>
</form>
</div>