<div class="container-fluid">
    <div class="modal-header">
        <h3 class="modal-title">Add GIS and INSPIRE File</h3>
    </div>

    <div class="modal-body">
        <div class="loading" ng-show="m_oController.m_oUploading">
            <img src="img/Spinner.gif" class="loading"/>
        </div>
        <div class="row ">
            <div>
                <label>GIS</label>
            </div>
            <div class=" project-icon" tooltip-popup-delay="500" >
                <label for="gis-input">
                    <img src="img/upload.png"/>
                </label>
                <input id="gis-input" type="file" file-Model="m_oController.m_sGisFilePath" ng-hide="true" ng-file-select="onFileSelect($files, 0)"/>
            </div>
            <div class="" ng-show="m_oController.m_oSharedService.getEvent().GIS.downloadGisPath != null">
                <a ng-href="{{m_oController.DownloadGis(0)}}">
                    <div class="project-icon delete" tooltip-popup-delay="500" tooltip="Download">
                        <img src="img/download.png" tooltip="Download">
                    </div>
                </a>
            </div>
        </div>
        <div class="row ">
            <div>
                <label>Inspire</label>
            </div>
            <div class="project-icon" tooltip-popup-delay="500">
                <label for="Inspire-input">
                    <img src="img/upload.png"/>
                </label>
                <input id="Inspire-input" type="file" file-Model="m_oController.m_sInspireFilePath" ng-hide="true" ng-file-select="onFileSelect($files, 1)"/>
            </div>
            <div class="" ng-show="m_oController.m_oSharedService.getEvent().GIS.downloadInspirePath != null">
                <a ng-href="{{m_oController.DownloadGis(1)}}">
                    <div class="project-icon delete" tooltip-popup-delay="500" tooltip="Download">
                        <img src="img/download.png" tooltip="Download">
                    </div>
                </a>
            </div>
        </div>
        <br/>
        <br/>
        <br/>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="m_oController.ok()" >Close</button>
        <button class="btn btn-warning" ng-click="m_oController.cancel()">Cancel</button>
    </div>
</div>