<div class="container">
<div class="row" style="margin-bottom: 20px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="title text-center"><i class="fa fa-home"></i> Welcome to the RISC-KIT database</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <img src="http://www.risckit.eu/np4/file/14/Picture3.jpg" alt="" width="271" height="168" style="padding: 10px">
    </div>

    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        The main objective of the RISC-KIT project &nbsp;is to develop methods, tools and management approaches to&nbsp;<strong>reduce risk and increase resilience</strong>&nbsp;to low-frequency, high-impact&nbsp;<strong>hydro-meteorological events</strong>&nbsp;in the coastal zone. These products will&nbsp;<strong>enhance forecasting, prediction and early warning capabilities</strong>, improve the&nbsp;<strong>assessment of long-term coastal risk</strong>&nbsp;and optimise the mix of&nbsp;<strong>prevention, mitigation and preparedness measures</strong>.
        <br><br>
            <a href="http://www.risckit.eu">Main Project Site</a>
    </div>
</div>

<div class="row">
    <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        What do you want to do?
    </div>
</div>

<div class="row">
    <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            <li><a href="#/map">See events on map</a> </li>
            <li><a href="#/eventslist">Insert or Edit Events (login required)</a> </li>
        </ul>
    </div>
</div>

<div class="row">
    <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div style="margin-left: 28px; margin-top: 20px"><span>PARTNERS</span></div>
    </div>
</div>

<div class="row">
    <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div style="margin: 28px;"><img src="http://www.risckit.eu/img/partnersBot1.png" alt="Partners" usemap="#Map2"></div>

        <map name="Map2">
            <area shape="rect" coords="0,0,80,70" href="http://www.deltares.nl/en" target="_blank" style="outline:none;" alt="Deltares">
            <area shape="rect" coords="80,0,160,70" href="http://www.ecologic.eu/" target="_blank" style="outline:none;" alt="Ecologic">
            <area shape="rect" coords="160,0,240,70" href="http://www.consorzioferrararicerche.it/" target="_blank" style="outline:none;" alt="CFR">
            <area shape="rect" coords="240,0,390,70" href="http://www.ualg.pt/home/en" target="_blank" style="outline:none;" alt="UAlg">
            <area shape="rect" coords="390,0,520,70" href="http://www.imdc.be/" target="_blank" style="outline:none;" alt="IMDC">
            <area shape="rect" coords="520,0,610,70" href="http://www.io-bas.bg/" target="_blank" style="outline:none;" alt="IO-BAS">
            <area shape="rect" coords="610,0,680,70" href="http://lienss.univ-larochelle.fr/" target="_blank" style="outline:none;" alt="LIENSs-CNRS">
            <area shape="rect" coords="680,0,790,70" href="http://www.tudelft.nl/en/" target="_blank" style="outline:none;" alt="TUD">
            <area shape="rect" coords="790,0,900,70" href="http://www.wmo.int/" target="_blank" style="outline:none;" alt="WMO">

            <area shape="rect" coords="0,70,60,140" href="http://www.upc.edu/" target="_blank" style="outline:none;" alt="UPC">
            <area shape="rect" coords="60,70,125,140" href="http://www.cimafoundation.org/" target="_blank" style="outline:none;" alt="CIMA">
            <area shape="rect" coords="125,70,210,140" href="http://www.baw.de/" target="_blank" style="outline:none;" alt="BAW">
            <area shape="rect" coords="210,70,330,140" href="http://www.eurocean.org/" target="_blank" style="outline:none;" alt="EurOcean">
            <area shape="rect" coords="330,70,435,140" href="http://www.sei-international.org/" target="_blank" style="outline:none;" alt="SEI">
            <area shape="rect" coords="435,70,535,140" href="http://www.mdx.ac.uk/research/science_technology/environmental/flood/" target="_blank" style="outline:none;" alt="MU-FHRC">
            <area shape="rect" coords="535,70,630,140" href="http://www.unicaen.fr/" target="_blank" style="outline:none;" alt="UniCaen">
            <area shape="rect" coords="630,70,760,140" href="http://www.ccru.geog.cam.ac.uk/" target="_blank" style="outline:none;" alt="UCAM-CCRU">
            <area shape="rect" coords="760,70,900,140" href="http://www.unesco-ihe.org/" target="_blank" style="outline:none;" alt="UNESCO-IHE">
        </map>
    </div>
</div>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <!-- hitwebcounter Code START>
            <a href="http://www.hitwebcounter.com/how-to/how-to-what-is-free-blog-counter.php" target="_blank">
                <img src="http://hitwebcounter.com/counter/counter.php?page=6004377&style=0036&nbdigits=5&type=page&initCount=137" title="web counter" Alt="web counter"   border="0" >
            </a><br/>
            <!-- hitwebcounter.com><a href="http://www.hitwebcounter.com/" title="web counter widget" target="_blank" style="font-family: sans-serif, Arial, Helvetica; font-size: 12px; color: #6E7A76; text-decoration: underline ;"><em>web counter widget</em></a>-->
            <!-- Start of SimpleHitCounter Code -->
            <div align="center">Site Visitors: <img src="http://simplehitcounter.com/hit.php?uid=1869330&f=16777215&b=0" border="0" height="18" width="83" alt="Site Visitors"><br></div>
            <!-- End of SimpleHitCounter Code -->
        </div>

    </div>
</div>