<div class="container home">
<div class="row" style="margin-bottom: 20px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="title text-center"><i class="fa fa-home"></i> Welcome to the RISC-KIT database</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <img src="http://www.risckit.eu/np4/file/14/Picture3.jpg" alt="" >
    </div>

    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">

        <p>
            The main objective of the RISC-KIT project &nbsp;is to develop methods, tools and management approaches to&nbsp;<strong>reduce risk and increase resilience</strong>&nbsp;to low-frequency, high-impact&nbsp;<strong>hydro-meteorological events</strong>&nbsp;in the coastal zone. These products will&nbsp;<strong>enhance forecasting, prediction and early warning capabilities</strong>, improve the&nbsp;<strong>assessment of long-term coastal risk</strong>&nbsp;and optimise the mix of&nbsp;<strong>prevention, mitigation and preparedness measures</strong>.
        </p>
        <a href="http://www.risckit.eu"><i class="fa fa-info"></i> Main Project Site</a>
    </div>

</div>
    <div class="clearfix ">
        <br><br>
    </div>
<div class="row">

    <h1 class="subtitle text-center">What do you want to do?</h1>
        <div class="pullquote">



                  <ul class="link">
                      <li><a href="#/map">See events on map</a> </li>
                      <li><a href="#/eventslist">Insert or Edit Events (login required)</a> </li>
                  </ul>

        </div>



</div>






<div class="row">

    <h1 class="subtitle">PARTNERS</h1>

    <ul class="partner">

        <li><a href="http://www.deltares.nl/en" target="_blank" alt="Deltares">
            <img src="img/partner/01.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.ecologic.eu/" target="_blank" alt="Ecologic">
            <img src="img/partner/02.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.consorzioferrararicerche.it/" target="_blank" alt="CFR">
            <img src="img/partner/03.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.ualg.pt/home/en" target="_blank" alt="UAlg">
            <img src="img/partner/04.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.imdc.be/" target="_blank" alt="IMDC">
            <img src="img/partner/05.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.io-bas.bg/" target="_blank" alt="IO-BAS">
            <img src="img/partner/06.jpg" alt=""/>
        </a></li>
        <li><a href="http://lienss.univ-larochelle.fr/" target="_blank" alt="LIENSs-CNRS">
            <img src="img/partner/07.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.tudelft.nl/en/" target="_blank" alt="TUD">
            <img src="img/partner/08.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.wmo.int/" target="_blank" alt="WMO">
            <img src="img/partner/09.jpg" alt=""/>
        </a></li>
    </ul>
    <ul class="partner">
        <li><a href="http://www.upc.edu/" target="_blank" alt="UPC">
            <img src="img/partner/010.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.cimafoundation.org/" target="_blank" alt="CIMA">
            <img src="img/partner/011.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.baw.de/" target="_blank" alt="BAW">
            <img src="img/partner/012.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.eurocean.org/" target="_blank" alt="EurOcean">
            <img src="img/partner/013.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.sei-international.org/" target="_blank" alt="SEI">
            <img src="img/partner/014.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.mdx.ac.uk/research/science_technology/environmental/flood/" target="_blank" alt="MU-FHRC">
            <img src="img/partner/015.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.unicaen.fr/" target="_blank" alt="UniCaen">
            <img src="img/partner/016.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.ccru.geog.cam.ac.uk/" target="_blank" alt="UCAM-CCRU">
            <img src="img/partner/017.jpg" alt=""/>
        </a></li>
        <li><a href="http://www.unesco-ihe.org/" target="_blank" alt="UNESCO-IHE">
            <img src="img/partner/018.jpg" alt=""/>
        </a></li>
    </ul>


    <!--<div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
        <!--<div style="margin: 28px;"><img src="http://www.risckit.eu/img/partnersBot1.png" alt="Partners" usemap="#Map2"></div>-->

        <!--<map name="Map2">-->
            <!--<area shape="rect" coords="0,0,80,70" href="http://www.deltares.nl/en" target="_blank" style="outline:none;" alt="Deltares">-->
            <!--<area shape="rect" coords="80,0,160,70" href="http://www.ecologic.eu/" target="_blank" style="outline:none;" alt="Ecologic">-->
            <!--<area shape="rect" coords="160,0,240,70" href="http://www.consorzioferrararicerche.it/" target="_blank" style="outline:none;" alt="CFR">-->
            <!--<area shape="rect" coords="240,0,390,70" href="http://www.ualg.pt/home/en" target="_blank" style="outline:none;" alt="UAlg">-->
            <!--<area shape="rect" coords="390,0,520,70" href="http://www.imdc.be/" target="_blank" style="outline:none;" alt="IMDC">-->
            <!--<area shape="rect" coords="520,0,610,70" href="http://www.io-bas.bg/" target="_blank" style="outline:none;" alt="IO-BAS">-->
            <!--<area shape="rect" coords="610,0,680,70" href="http://lienss.univ-larochelle.fr/" target="_blank" style="outline:none;" alt="LIENSs-CNRS">-->
            <!--<area shape="rect" coords="680,0,790,70" href="http://www.tudelft.nl/en/" target="_blank" style="outline:none;" alt="TUD">-->
            <!--<area shape="rect" coords="790,0,900,70" href="http://www.wmo.int/" target="_blank" style="outline:none;" alt="WMO">-->

            <!--<area shape="rect" coords="0,70,60,140" href="http://www.upc.edu/" target="_blank" style="outline:none;" alt="UPC">-->
            <!--<area shape="rect" coords="60,70,125,140" href="http://www.cimafoundation.org/" target="_blank" style="outline:none;" alt="CIMA">-->
            <!--<area shape="rect" coords="125,70,210,140" href="http://www.baw.de/" target="_blank" style="outline:none;" alt="BAW">-->
            <!--<area shape="rect" coords="210,70,330,140" href="http://www.eurocean.org/" target="_blank" style="outline:none;" alt="EurOcean">-->
            <!--<area shape="rect" coords="330,70,435,140" href="http://www.sei-international.org/" target="_blank" style="outline:none;" alt="SEI">-->
            <!--<area shape="rect" coords="435,70,535,140" href="http://www.mdx.ac.uk/research/science_technology/environmental/flood/" target="_blank" style="outline:none;" alt="MU-FHRC">-->
            <!--<area shape="rect" coords="535,70,630,140" href="http://www.unicaen.fr/" target="_blank" style="outline:none;" alt="UniCaen">-->
            <!--<area shape="rect" coords="630,70,760,140" href="http://www.ccru.geog.cam.ac.uk/" target="_blank" style="outline:none;" alt="UCAM-CCRU">-->
            <!--<area shape="rect" coords="760,70,900,140" href="http://www.unesco-ihe.org/" target="_blank" style="outline:none;" alt="UNESCO-IHE">-->
        <!--</map>-->
    <!--</div>-->
</div>

    <div class="row" >

            <!-- hitwebcounter Code START>
            <a href="http://www.hitwebcounter.com/how-to/how-to-what-is-free-blog-counter.php" target="_blank">
                <img src="http://hitwebcounter.com/counter/counter.php?page=6004377&style=0036&nbdigits=5&type=page&initCount=137" title="web counter" Alt="web counter"   border="0" >
            </a><br/>
            <!-- hitwebcounter.com><a href="http://www.hitwebcounter.com/" title="web counter widget" target="_blank" style="font-family: sans-serif, Arial, Helvetica; font-size: 12px; color: #6E7A76; text-decoration: underline ;"><em>web counter widget</em></a>-->
            <!-- Start of SimpleHitCounter Code -->
            <div class="visitor text-center">Site Visitors: <img src="http://simplehitcounter.com/hit.php?uid=1869330&f=16777215&b=0" border="0" alt="Site Visitors"></div>
            <!-- End of SimpleHitCounter Code -->


    </div>
</div>