<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row">

        <label class="col-xs-offset-1 control-label">Select a position on map, description and date</label>
        <div id="media_map_canvas" class="col-xs-12" style="height: 500px;"></div>

    </div>
    <br/>
    <div class="row ">
        <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3" ng-class="{'has-warning has-feedback' :m_oController.description == null || m_oController.description == ''}">
            <label class="control-label">Description</label>
            <textarea class=" form-control" rows="2" ng-change="m_oController.m_oMediaService.setAsModified()" placeholder="Description" ng-model="m_oController.description" ng-disabled="m_oController.getIsReadOnly()"></textarea>
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-hide="m_oController.description != null && m_oController.description != ''" tooltip="Insert description" style="margin-right: 30px;"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3" ng-class="{'has-warning has-feedback' : m_oController.date == null}">
            <label class="control-label">Date</label>
            <input class="form-control" type="date" ng-change="m_oController.m_oMediaService.setAsModified()" ng-model="m_oController.date" ng-disabled="m_oController.getIsReadOnly()">
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-hide="m_oController.date != null" tooltip="Insert a date" style="margin-right: 30px;"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <label class="control-label">Attachment</label>
            <br/>
            <table class=" table table-bordered table-condensed" ng-show="m_oController.NewMedia.downloadPath != null && m_oController.NewMedia.downloadPath != ''">
                <tr>
                    <td>
                        <a ng-href="{{m_oController.DownloadMedia(m_oController.NewMedia.id)}}">
                            <div class="project-icon delete" tooltip-popup-delay="500" tooltip="Download">
                                <img src="img/download.png" tooltip="Download">
                            </div>
                        </a>
                        <div class="delete">
                            <a>{{m_oController.NewMedia.shortDownloadPath}}</a>
                        </div>
                    </td>
                </tr>
            </table>

        </div>


    </div>
        <div class="row">

            <div class="col-lg-offset-3 col-lg-1" ng-show="m_oController.canUpload()">
                <div class="loading" ng-show="m_oController.m_oUploading">
                    <img src="img/Spinner.gif" class="loading"/>
                </div>
                <div class="project-icon" ng-show="!m_oController.getIsReadOnly()">
                    <label for="media-input" tooltip-popup-delay="500" tooltip="Upload" >
                       <img src="img/upload.png"/>
                    </label>
                    <input id="media-input" type="file" file-Model="m_oController.m_sFilePath" ng-file-select="onFileSelect($files)"  ng-hide="true"/>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-offset-3 col-lg-3 col-xs-6 col-sm-6 col-md-6 ">
                <button type="submit" class="btn btn-primary btn-lg" ng-click="m_oController.Save()" ng-show="!m_oController.getIsReadOnly()">Save</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <button class="btn btn-primary btn-lg" ng-click="m_oController.cancel()">Close</button>

            </div>

        </div>
    </div>
</div>

