<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <br/>
    <label class="col-xs-offset-1 control-label">Select a position on map</label>
    <div id="media_map_canvas" class="col-xs-12" style="height: 500px;"></div>
    <br/>
    <div class="row col-lg-8">
        <div class="row">
            <label class="col-xs-offset-1 control-label">Description</label>
            <textarea class="col-xs-offset-1 col-xs-2 form-control" rows="2" placeholder="Description" ng-model="m_oController.description"></textarea>
            <div class="col-xs-7"></div>
        </div>
        <div class="row">
            <label class="col-xs-offset-1 control-label">Date</label>
            <input class="col-xs-offset-1 col-xs-2 form-control" type="date" ng-model="m_oController.date">
        </div>
        <div class="row">
            <br/>
            <div class="row">
                <label class="col-xs-offset-1 control-label">Attachment</label>
            </div>
            <br/>
            <table class="col-xs-offset-1 table table-bordered table-condensed">
                <tr ng-repeat="oTableRow in m_oController.Files">
                    <td>
                        <div>
                            <label>{{oTableRow.name}}</label>
                            <img src="img/delete.png" tooltip="Delete">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="row col-lg-offset-1 col-lg-1">
                <div class="loading" ng-show="false"></div>
                <div class="project-icon" tooltip-popup-delay="500">
                    <label for="media-input">
                        <img src="img/upload.png" />
                    </label>
                    <input id="media-input" type="file" file-Model="m_oController.m_sFilePath" ng-file-select="onFileSelect($files)" ng-hide="true"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-1 form-group">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="m_oController.Save()" ng-show="m_oController.Uploaded()">Close</button>
                    <button class="btn btn-warning" ng-click="m_oController.cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

