<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>risckit</display-name>
  
  <servlet>
		<servlet-name>Risckit REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>it.fadeout.risckit</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>it.fadeout.risckit.business</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>it.fadeout.risckit.data</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>it.fadeout.risckit.viewmodels</param-value>
		</init-param>
		<init-param>
	        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
	        <param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>unit:WidgetPU</param-name>
			<param-value>persistence/widget</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.filter.LoggingFilter</param-value>
		</init-param>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>it.fadeout.risckit.Risckit</param-value>
		</init-param>
		<init-param>
			<param-name>SvnRepository</param-name>
			<param-value>https://svn.oss.deltares.nl/repos/openearthrawdata/trunk/</param-value>
			<!-- <param-value>https://github.com/fadeoutsoftware/risckitTool/</param-value>  -->
		</init-param>
		<init-param>
			<param-name>SvnUser</param-name>
			<param-value>risckit</param-value>
			<!-- <param-value>ibamer</param-value> --> 
		</init-param>
		<init-param>
			<param-name>SvnUserDomain</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>SvnPwd</param-name>
			<param-value>7m6dcdJM</param-value>
			<!-- <param-value>vera9102</param-value> -->
		</init-param>
		<init-param>
			<param-name>ProjectPath</param-name>
			<param-value>C:/Codice/risckitTool.git/trunk/</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Risckit REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>RisckitFilter</filter-name>
		<filter-class>it.fadeout.risckit.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RisckitFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>