<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RiscKit tool</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="lib/angular-file-upload/angular-file-upload-shim.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="lib/angular-file-upload/angular-file-upload.js"></script>
    <!-- Add custom CSS here -->
    <!--<link href="css/riskit.css" rel="stylesheet">-->
    <!-- Google Maps Scripts -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src='lib/lodash/lodash.js'></script>
    <script src='lib/googlemaps/angular-google-maps.js'></script>
    <script src='lib/googlemaps/angular-google-maps.min.js'></script>
    <script src='lib/markerwithlabel/markerwithlabel.js'></script>
    <script src='lib/angular/i18n/angular-locale_en.js'></script>
    <link href="css/deda.css" rel="stylesheet">
    <link href="fontfadeout.css" rel="stylesheet">
    <link href="css/style-addon.css" rel="stylesheet">

    <script src="js/compatibility.js"></script>
    <script>
        if( isBrowserCompliant() == false)
        {
            location.href = "unsupportedbrowser.html";
        }
    </script>
</head>
<!-- Stop if browser not compliant  -->

<body ng-app="riskitapp" ng-controller="MainController" class="bck">

<div class="container">
    <div class="row">
        <div class="logo-wrapper">
            <img src="img/bannerrisckit.png" >
            <!--<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            Simple Sidebar-->
        </div>
    </div>
</div>
    <!-- Page content -->
<!--    <div class="full-width-image-1">-->
<!--        <div class="logo-wrapper">-->

<!--        </div>-->
<!--    </div >-->

<div class="container">

<!--<div id="wrapper">-->


    <div class="row">
        <div class="navbar">
            <div class="navbar-right">

            </div>
            <a class="navbar-brand" href="#"></a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#/">Home</a>
                </li>
                <li>
                    <a href="#/map">Map</a>
                </li>
                <li>
                    <a href="#/eventslist">Events</a>
                </li>
                <li>
                    <a href="#/architecture">Architecture</a>
                </li>
                <li>
                    <a href="#/links">Useful Links</a>
                </li>

                <li ng-show="m_oController.isUserLogged() == true">
                    <a href="#/adminusersmanagement">Users manager</a>
                </li>
                <li ng-show="m_oController.isUserLogged() == true">
                    <a href="#/adminusersmanagement">Manage Access Requests</a>
                </li>



                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{m_oController.getUserName()}}
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!-- Not logged user menu -->
                        <!--<li class="divider" ng-hide="m_oController.m_oLoginService.isLogged()"></li>-->
                        <li ng-hide="m_oController.m_oLoginService.isLogged()">
                            <a href="#" ng-click="m_oController.Login()"><i class="fa fa-sign-out fa-fw padding-right"></i>Login</a>
                        </li>
                        <li ng-hide="m_oController.m_oLoginService.isLogged()">
                            <a href="#loginrequest"><i class="fa fa-pencil-square-o fa-fw padding-right"></i>Register</a>
                        </li>
                        <li class="divider" ng-show="this.m_oLoginService.isLogged()"></li>

                        <!-- Logged user menu -->
                        <li ng-show="m_oController.isUserLogged() == true">
                            <a href="#/userprofile"><i class="fa fa-user fa-fw padding-right"></i>My profile</a>
                        </li>
                        <li ng-show="m_oController.m_oLoginService.isLogged()">
                            <a href="#" ng-click="m_oController.Logout()"><i class="fa fa-sign-out fa-fw padding-right"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

            <h3 class="desc"><span class="glyphicon glyphicon-info-sign"></span>
                Storm Impact Database  for  the Case Study Sites
            </h3>

            <p class="rid">
                The database contains forcing factors, observations and hindcast data, observed impacts and quantitative and qualitative socio-economic, cultural and environmental data. Links are provided on the database website to the latest IPCC climate scenarios downloadable from the IPCC website. Sources of data stored in the database include data obtained in Task 1.2 of the RISC-KIT project, deliverables from the FP7 MICORE project, scientific publications, data contained in the Marine Knowledge Gate and media analysis performed by the case study partners. To ensure its long-term continuity, the database has been designed with common data fields to those of the EU Floods Directive as well as the more-general ISDR-GAR and CRED databases, meaning that there is potential for these database efforts to be merged in the future. Links have also been provided to the EEA-Clearing Houses .
            </p>
        </div>
        <div class="clearfix visible-xs">
        </div>
    </div>


    <div class="row">
        <div ng-view ></div>

    </div>


</div>

<div class="container-fluid footer">
	<footer class="row">
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
            <img src="img/flag_yellow_high.jpg" class="eu" alt=""/>
        </div>
        <div class="col-xs-8 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
            <p>
                The RISC-KIT project (grant agreement 603458) is supported by the European Commission under the Environment
                (including climate change) Theme of the 7th Framework Programme for Research and Technological Development.
                This database only reflects the views of the authors(s), and the European Union cannot be held responsible for any use which may be made of the information contained therein.
                For more information, please contact RISC-Kit project coordinator <a href="mailto:ap.vandongeren@deltares.nl">Ap Van Dongeren</a> or work package leader <a href="mailto:cvp@unife.it">Paolo Ciavola</a>.
            </p>
        </div>

	</footer>
    <footer class="row">
        <div class="col-xs-12 col-lg-offset-8 col-sm-offset-8 col-md-offset-8 col-sm-4 col-md-4 col-lg-4 social">
            <div style="height: 60px; float: left;">
                <a href="http://www.fadeout.it/" style="text-decoration: none" target="_blank"><i class="fdt-fadeout-logo" style="font-size: 7em; color: #f5f5f5"></i></a>
            </div>
            <div style="float: left;margin-left: 5px;">
                <p style="margin-top: 35px;">Database Development by Fadeout Software S.r.l</p>
            </div>
            <div class="clearfix">
            </div>
        </div>

    </footer>

</div>

    <!-- Sidebar -->
    <!--<div id="sidebar-wrapper">-->
        <!--<ul class="sidebar-nav">-->
            <!--<li class="sidebar-li"><a href="#/eventslist">Events</a>-->
            <!--</li>-->
            <!--<li class="sidebar-li"><a href="#/map">Map</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

    <!-- Page content -->
    <!--<div class="full-width-image-1">-->
        <!--<div class="logo-wrapper">-->
                <!--<img src="img/bannerrisckit.png" class="img-responsive">-->
                <!--&lt;!&ndash;<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>-->
                <!--Simple Sidebar&ndash;&gt;-->
        <!--</div>-->
    <!--</div >-->
    <!-- Keep all page content within the page-content inset div! -->
    <!--<div ng-view ></div>-->



    <!-- /.container -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60468592-1', 'auto');
    ga('send', 'pageview');

</script>
    <!-- JavaScript -->
    <script src="lib/jquery/jquery-1.10.2.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>
    <script src="lib/uibootstrap/ui-bootstrap-tpls-0.9.0.min.js"></script>
    <script src="lib/uibootstrap/ui-bootstrap-0.9.0.min.js"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/riskitController.js"></script>
    <script src="js/controllers/EventController.js"></script>
    <script src="js/controllers/MapController.js"></script>
    <script src="js/controllers/MediaController.js"></script>
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/controllers/GisController.js"></script>
    <script src="js/controllers/HomeController.js"></script>
    <script src="js/controllers/SocioimpactController.js"></script>
    <script src="js/controllers/EventsListController.js"></script>
    <script src="js/controllers/PreviewController.js"></script>
    <script src="js/controllers/LoginRequestController.js"></script>
    <script src="js/controllers/AdminUsersManagement.js"></script>
    <script src="js/controllers/UserProfile.js"></script>

    <script src="js/services/EventService.js"></script>
    <script src="js/services/SharedService.js"></script>
    <script src="js/services/LoginService.js"></script>
    <script src="js/services/MediaService.js"></script>
    <script src="js/services/GisService.js"></script>
    <script src="js/services/SocioimpactService.js"></script>
    <script src="js/services/UsersService.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/app.js"></script>
    <!-- Script to Activate the Carousel -->

    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });
    </script>

</body>

</html>
